numpy
ftfy
regex
tqdm
hydra-core==1.0.5
wandb==0.10.15
torch==1.7.1
torchvision==0.8.2
pytorch-lightning==1.1.0
clip @ git+https://github.com/openai/CLIP.git@beba48f35392a73c6c47ae67ddffced81ad1916d
tqdm
Pillow
